body{
    background-color:#d4e6f1;
}

header{
    text-align:center;
}

aside{
    width:30%;
    height:100%;
    float:left;
    padding-left:1%;
    border-radius: 25px;
    border: 2px ridge black;
    background-color:#eaecee;
}
section{
    width:65%;
    height:100%;
    float:left;
    padding-left:1%;
    border-radius: 25px;
    border: 2px ridge black;
    background-color:#eaecee;
}

img{
    height: auto;
    width: 60%;
    align: center;
    border-radius: 25px;
    border: 2px ridge black;

}

p{
    text-align: center;
}

.barra{
    color:white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
